*{
  margin: 0;
  padding: 0;
}
body,html{
  width:100%;
  height:100%;
}

.box{
  width:100%;
  height:100%;
  display: flex;
}
.app{
  flex:3;
}
.toll{
  flex:1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.toll .top{
  flex:1;
}
.toll .top{
  overflow-y: auto;
}
.top .top_color{
  margin-bottom: 20px;
}
.top .top_color .title{
  margin: 5px;
  text-align: center;
}
.top_color  .colorArr{
  width: 100%;
  display: flex;
  text-align: center;
}
.top_color .colorArr >div{
  flex: 1;
  font-size: 12px;
}
.top_color .colorArr .color{
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}
.top_color .auto{
  display: flex;
  text-align: center;
}
.top_color .auto >div{
  flex: 1;
  padding: 10px 0;
  margin: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.toll .bom{
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d3d3d3;
}
.toll .bom >button{
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border:none;
  background-color: #bb0a30;
}